#!<path/to/shell/script>

HRD_DIR=<path/to/HRD-pipeline>
HRD_PIPELINE_DIR=$HRD_DIR/script

MINICONDA_DIR=<path/to/miniconda>

THREAD=56
TRIM_THREAD=56

NGC_TOKEN=<path/to/token> # token of project <for download>

SRA_ENV=<env/of/sratools>
PRE_ENV=<env/of/preprocessing>
GATK_ENV=<env/of/wes_gatk>
SEQZ_ENV=<env/of/sequenza>
SCAR_ENV=<env/of/scarHRD>

REF_DIR=<path/to/reference>
REF_GENOME=$REF_DIR/GRCh38.d1.vd1.fa ## MAKE SURE THESE FILE EXISTED IN THE REFERENCES DIRECTORY
BWA_REF_GENOME=$REF_DIR/GRCh38.d1.vd1.fa ## MAKE SURE THESE FILE EXISTED IN THE REFERENCES DIRECTORY

KNOWN_SITE_1=$REF_DIR/Homo_sapiens_assembly38.dbsnp138.vcf ## MAKE SURE THESE FILE EXISTED IN THE REFERENCES DIRECTORY
KNOWN_SITE_2=$REF_DIR/Homo_sapiens_assembly38.known_indels.vcf ## MAKE SURE THESE FILE EXISTED IN THE REFERENCES DIRECTORY

ADAPTER=$MINICONDA_DIR/envs/${PRE_ENV}/share/trimmomatic/adapters # need to change
GC50=$REF_DIR/hg38.gc50Base.wig.gz ## MAKE SURE THESE FILE EXISTED IN THE REFERENCES DIRECTORY