#!/usr/bin/bash

HRD_DIR=~/HRD
HRD_PIPELINE_DIR=$HRD_DIR/HRD_pipeline


THREAD=56
TRIM_THREAD=56

NGC_TOKEN=$HRD_DIR/token/prj_35342.ngc

SRA_ENV="wes_sratools"
PRE1_ENV="wes_pre_1"
GATK_ENV="wes_gatk"

REF_GENOME=~/data/reference/GRCh38.d1.vd1.fa 
BWA_REF_GENOME=~/data/reference/GRCh38.d1.vd1.fa 

KNOWN_SITE_1=~/data/reference/Homo_sapiens_assembly38.dbsnp138.vcf
KNOWN_SITE_2=~/data/reference/Homo_sapiens_assembly38.known_indels.vcf

ADAPTER=~/miniconda3/envs/wes_pre_1/share/trimmomatic/adapters # need to change