#!/usr/bin/bash

HRD_DIR=~/playground/HRD/HRD-pipeline
HRD_PIPELINE_DIR=$HRD_DIR/script

MINICONDA_DIR=~/miniconda3

THREAD=56
TRIM_THREAD=56

NGC_TOKEN=$HRD_DIR/token/prj_35342.ngc # token of project

SRA_ENV="wes_sratools"
PRE_ENV="wes_pre_1"
GATK_ENV="wes_gatk"
SEQZ_ENV="hrd-seq"
SCAR_ENV="test2"
VARS_ENV="wes_gatk"

REF_DIR=~/playground/HRD/reference
REF_GENOME=$REF_DIR/GRCh38.d1.vd1.fa 
BWA_REF_GENOME=$REF_DIR/GRCh38.d1.vd1.fa 

KNOWN_SITE_1=$REF_DIR/Homo_sapiens_assembly38.dbsnp138.vcf
KNOWN_SITE_2=$REF_DIR/Homo_sapiens_assembly38.known_indels.vcf

GERMLINE_REF=$REF_DIR/af-only-gnomad.hg38.vcf
PON=$REF_DIR/1000g_pon.hg38.vcf
COMMON_REF=$REF_DIR/gatk_ref/small_exac_common_3.hg38.vcf.gz
LIBRARY_BED=$REF_DIR/KAPA_HyperExome_hg38_capture_targets.bed

ADAPTER=$MINICONDA_DIR/envs/${PRE_ENV}/share/trimmomatic/adapters # need to change


GC50=$REF_DIR/hg38.gc50Base.wig.gz