#!/usr/bin/bash

HRD_DIR=~/HRD-pipeline
HRD_PIPELINE_DIR=$HRD_DIR/script

MINICONDA_DIR=~/miniconda3

THREAD=56
TRIM_THREAD=56

NGC_TOKEN=$HRD_DIR/token/prj_35342.ngc # token of project

SRA_ENV="wes_sratools"
PRE_ENV="wes_pre_1"
GATK_ENV="wes_gatk"
SEQZ_ENV=""
SCAR_ENV=""

REF_DIR=~/data/reference
REF_GENOME=$REF_DIR/GRCh38.d1.vd1.fa 
BWA_REF_GENOME=$REF_DIR/GRCh38.d1.vd1.fa 

KNOWN_SITE_1=$REF_DIR/Homo_sapiens_assembly38.dbsnp138.vcf
KNOWN_SITE_2=$REF_DIR/Homo_sapiens_assembly38.known_indels.vcf

ADAPTER=$MINICONDA_DIR/envs/${PRE_ENV}/share/trimmomatic/adapters # need to change